.pricesection {
  background-color: white;
  padding-top: 80px;
}
.font {
  font-size: 20px;
  font-weight: bold;
  color: var(--primary);
}

.imgSizeing {
  height: 220px;
  width: 300px;
  padding: 10px;
  padding-bottom: 10px;
}
._hotelName {
  font-size: 30px;
  color: black;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-weight: bold;
  padding: 5px;
}
._hotelPrice {
  color: var(--primary);
  font-weight: bold;
  font-size: large;
  padding: 5px;
}

._backgroundimg {
  background-image: url(../Image/hotel-lobby.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 450px;
  border-radius: 5px;
  font-weight: bold;
  color: white;
}
._opacity {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}
._today {
  background-color: var(--primary);
  border-radius: 30px;
  border: 0;
  color: white;
  font-weight: bold;
  font-size: 15px;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 5px;
  padding-bottom: 5px;
}
